## India Covid APP

In [1]:
import json
import os.path
import re
import urllib.request
from datetime import date, datetime, timedelta
import dash
import dash_bootstrap_components as dbc
import dash_core_components as dcc
import dash_html_components as html
import dash_table
import numpy as np
from flask import Markup
from plotly.offline import plot
import pandas as pd
import plotly
import plotly.express as px
import plotly.graph_objects as go
import requests
from bs4 import BeautifulSoup
from flask import Flask, render_template
from flask import Markup

In [2]:
URL = 'https://api.covid19india.org/v4/data.json'

with urllib.request.urlopen(URL) as url:
    data = json.loads(url.read().decode())

In [37]:
list(data.keys())

['AN',
 'AP',
 'AR',
 'AS',
 'BR',
 'CH',
 'CT',
 'DL',
 'DN',
 'GA',
 'GJ',
 'HP',
 'HR',
 'JH',
 'JK',
 'KA',
 'KL',
 'LA',
 'MH',
 'ML',
 'MN',
 'MP',
 'MZ',
 'NL',
 'OR',
 'PB',
 'PY',
 'RJ',
 'SK',
 'TG',
 'TN',
 'TR',
 'TT',
 'UP',
 'UT',
 'WB']

In [104]:
data['KA']['districts'].keys()

dict_keys(['Bagalkote', 'Ballari', 'Belagavi', 'Bengaluru Rural', 'Bengaluru Urban', 'Bidar', 'Chamarajanagara', 'Chikkaballapura', 'Chikkamagaluru', 'Chitradurga', 'Dakshina Kannada', 'Davanagere', 'Dharwad', 'Gadag', 'Hassan', 'Haveri', 'Kalaburagi', 'Kodagu', 'Kolar', 'Koppal', 'Mandya', 'Mysuru', 'Other State', 'Raichur', 'Ramanagara', 'Shivamogga', 'Tumakuru', 'Udupi', 'Uttara Kannada', 'Vijayapura', 'Yadgir'])

In [110]:
district_dict = dict()
for district in data[scode]['districts'].keys():
    district_dict[district] = data[scode]['districts'][district]['total']

df_district = pd.DataFrame(district_dict).T

In [113]:
df_district.columns

Index(['confirmed', 'deceased', 'recovered', 'tested', 'other'], dtype='object')

In [42]:
df = pd.DataFrame(df_district).T

In [74]:
scode = 'MH'
URL = 'https://api.covid19india.org/v4/data.json'

with urllib.request.urlopen(URL) as url:
    data = json.loads(url.read().decode())

district_dict = dict()

for district in data[scode]['districts'].keys():
    district_dict[district] = data[scode]['districts'][district]['total']

df_district = pd.DataFrame(df_district).T
df_district = df_district.rename(columns={'confirmed': 'Confirmed', 'deceased': 'Deceased', 'recovered': 'Recovered', 'tested': 'Tested'})
df_district = df_district.drop(['other'], axis=1)
df_district['Active'] = df_district['Confirmed'] - df_district['Recovered'] - df_district['Deceased']

df_district = df_district.fillna(0)
df_district = df_district.reset_index()

In [75]:
df_district

          index  Confirmed  Deceased  Recovered     Tested   Active
0    Ahmednagar    44369.0     701.0    35104.0    11077.0   8564.0
1         Akola     7589.0     233.0     6280.0        0.0   1076.0
2      Amravati    14214.0     278.0    11823.0        0.0   2113.0
3    Aurangabad    37098.0     907.0    26249.0    11800.0   9942.0
4          Beed    10940.0     285.0     7776.0    92936.0   2879.0
5      Bhandara     6165.0     107.0     4363.0    45570.0   1695.0
6      Buldhana     8362.0     124.0     5596.0    36029.0   2642.0
7    Chandrapur    11138.0     153.0     6536.0    82417.0   4449.0
8         Dhule    12700.0     333.0    11560.0    20469.0    807.0
9    Gadchiroli     2616.0      16.0     1845.0    11993.0    755.0
10       Gondia     7482.0      81.0     5218.0    30309.0   2183.0
11      Hingoli     3155.0      60.0     2431.0     6797.0    664.0
12      Jalgaon    48641.0    1268.0    41775.0   208018.0   5598.0
13        Jalna     7993.0     193.0     5887.0    52739.0   1913.0
14     Kolhapur    44407.0    1366.0    36463.0        0.0   6578.0
15        Latur    18085.0     510.0    13926.0        0.0   3649.0
16       Mumbai   212462.0    9060.0   173670.0  1144744.0  29732.0
17       Nagpur    80937.0    2151.0    66313.0   297930.0  12473.0
18       Nanded    16555.0     412.0    10323.0    85447.0   5820.0
19    Nandurbar     5486.0     123.0     4548.0    14367.0    815.0
20       Nashik    79339.0    1344.0    61997.0   271748.0  15998.0
21    Osmanabad    12999.0     380.0     9207.0    55116.0   3412.0
22  Other State     1663.0     144.0      428.0        0.0   1091.0
23      Palghar    38025.0     901.0    30297.0   155340.0   6827.0
24     Parbhani     5643.0     198.0     4030.0    44813.0   1415.0
25         Pune   300623.0    5931.0   237190.0  1181606.0  57502.0
26       Raigad    52786.0    1270.0    43639.0   158457.0   7877.0
27    Ratnagiri     8754.0     284.0     6428.0        0.0   2042.0
28       Sangli    39642.0    1231.0    30788.0        0.0   7623.0
29       Satara    38639.0    1060.0    29508.0   132802.0   8071.0
30   Sindhudurg     4105.0     100.0     2873.0        0.0   1132.0
31      Solapur    37364.0    1176.0    30014.0   268779.0   6174.0
32        Thane   192385.0    4973.0   156807.0   867967.0  30605.0
33       Wardha     4739.0      81.0     3035.0    36497.0   1623.0
34       Washim     4607.0      93.0     3725.0        0.0    789.0
35     Yavatmal     9154.0     231.0     6903.0    73719.0   2020.0

In [65]:
df = df.rename( columns = {'confirmed':'Confirmed', 'deceased':'Deceased', 'recovered':'Recovered', 'tested':'Tested'})

In [68]:
df = df.drop(['other'],axis=1)

In [70]:
df['Active'] = df['Confirmed'] - df['Recovered'] - df['Deceased']

In [72]:
df.reset_index()

          index  Confirmed  Deceased  Recovered     Tested   Active
0    Ahmednagar    44369.0     701.0    35104.0    11077.0   8564.0
1         Akola     7589.0     233.0     6280.0        NaN   1076.0
2      Amravati    14214.0     278.0    11823.0        NaN   2113.0
3    Aurangabad    37098.0     907.0    26249.0    11800.0   9942.0
4          Beed    10940.0     285.0     7776.0    92936.0   2879.0
5      Bhandara     6165.0     107.0     4363.0    45570.0   1695.0
6      Buldhana     8362.0     124.0     5596.0    36029.0   2642.0
7    Chandrapur    11138.0     153.0     6536.0    82417.0   4449.0
8         Dhule    12700.0     333.0    11560.0    20469.0    807.0
9    Gadchiroli     2616.0      16.0     1845.0    11993.0    755.0
10       Gondia     7482.0      81.0     5218.0    30309.0   2183.0
11      Hingoli     3155.0      60.0     2431.0     6797.0    664.0
12      Jalgaon    48641.0    1268.0    41775.0   208018.0   5598.0
13        Jalna     7993.0     193.0     5887.0    52739.0   1913.0
14     Kolhapur    44407.0    1366.0    36463.0        NaN   6578.0
15        Latur    18085.0     510.0    13926.0        NaN   3649.0
16       Mumbai   212462.0    9060.0   173670.0  1144744.0  29732.0
17       Nagpur    80937.0    2151.0    66313.0   297930.0  12473.0
18       Nanded    16555.0     412.0    10323.0    85447.0   5820.0
19    Nandurbar     5486.0     123.0     4548.0    14367.0    815.0
20       Nashik    79339.0    1344.0    61997.0   271748.0  15998.0
21    Osmanabad    12999.0     380.0     9207.0    55116.0   3412.0
22  Other State     1663.0     144.0      428.0        NaN   1091.0
23      Palghar    38025.0     901.0    30297.0   155340.0   6827.0
24     Parbhani     5643.0     198.0     4030.0    44813.0   1415.0
25         Pune   300623.0    5931.0   237190.0  1181606.0  57502.0
26       Raigad    52786.0    1270.0    43639.0   158457.0   7877.0
27    Ratnagiri     8754.0     284.0     6428.0        NaN   2042.0
28       Sangli    39642.0    1231.0    30788.0        NaN   7623.0
29       Satara    38639.0    1060.0    29508.0   132802.0   8071.0
30   Sindhudurg     4105.0     100.0     2873.0        NaN   1132.0
31      Solapur    37364.0    1176.0    30014.0   268779.0   6174.0
32        Thane   192385.0    4973.0   156807.0   867967.0  30605.0
33       Wardha     4739.0      81.0     3035.0    36497.0   1623.0
34       Washim     4607.0      93.0     3725.0        NaN    789.0
35     Yavatmal     9154.0     231.0     6903.0    73719.0   2020.0

In [60]:
d = df.iloc[1,:].to_frame().T

In [61]:
d

       confirmed  deceased  recovered  tested  other
Akola     7589.0     233.0     6280.0     NaN    1.0

In [83]:
def get_key(val, d):
	for key, value in d.items():
		if val == value:
			return key

	return "key doesn't exist"

In [80]:
d = {'MH' : 'Maharashtra'}

In [103]:

def prepare_district_data(scode = 'MH'):
	global df_district
	global df_state

	URL = 'https://api.covid19india.org/v4/data.json'

	with urllib.request.urlopen(URL) as url:
		data = json.loads(url.read().decode())

	district_dict = dict()

	for district in data[scode]['districts'].keys():
		district_dict[district] = data[scode]['districts'][district]['total']

	df_district = pd.DataFrame(district_dict).T
	df_district = df_district.rename(columns={'confirmed': 'Confirmed', 'deceased': 'Deceased', 'recovered': 'Recovered', 'tested': 'Tested'})
    try:
        df_district['Active'] = df_district['Confirmed'] - df_district['Recovered'] - df_district['Deceased']
    except:
        pass
	df_district = df_district.drop(['other'], axis=1)
	df_district = df_district.fillna(0)
	df_district = df_district.reset_index()


def get_key(val, d):
	for key, value in d.items():
		if val == value:
			return key

	return "key doesn't exist"


def update_districts(scode):
	if(scode!="key doesn't exist"):
		prepare_district_data(scode)
		district_cols = df_district.columns.values.tolist()
		district_rows = df_district.values.tolist()

		object = {
			'district_cols' : district_cols,
			'district_rows' : district_rows
		}

		return jsonify(district = object)
	return None

IndentationError: unindent does not match any outer indentation level (<tokenize>, line 17)

In [92]:
prepare_district_data()

In [93]:
df_district

          index  Confirmed  Deceased  Recovered     Tested   Active
0    Ahmednagar    44369.0     701.0    35104.0    11077.0   8564.0
1         Akola     7589.0     233.0     6280.0        0.0   1076.0
2      Amravati    14214.0     278.0    11823.0        0.0   2113.0
3    Aurangabad    37098.0     907.0    26249.0    11800.0   9942.0
4          Beed    10940.0     285.0     7776.0    92936.0   2879.0
5      Bhandara     6165.0     107.0     4363.0    45570.0   1695.0
6      Buldhana     8362.0     124.0     5596.0    36029.0   2642.0
7    Chandrapur    11138.0     153.0     6536.0    82417.0   4449.0
8         Dhule    12700.0     333.0    11560.0    20469.0    807.0
9    Gadchiroli     2616.0      16.0     1845.0    11993.0    755.0
10       Gondia     7482.0      81.0     5218.0    30309.0   2183.0
11      Hingoli     3155.0      60.0     2431.0     6797.0    664.0
12      Jalgaon    48641.0    1268.0    41775.0   208018.0   5598.0
13        Jalna     7993.0     193.0     5887.0    52739.0   1913.0
14     Kolhapur    44407.0    1366.0    36463.0        0.0   6578.0
15        Latur    18085.0     510.0    13926.0        0.0   3649.0
16       Mumbai   212462.0    9060.0   173670.0  1144744.0  29732.0
17       Nagpur    80937.0    2151.0    66313.0   297930.0  12473.0
18       Nanded    16555.0     412.0    10323.0    85447.0   5820.0
19    Nandurbar     5486.0     123.0     4548.0    14367.0    815.0
20       Nashik    79339.0    1344.0    61997.0   271748.0  15998.0
21    Osmanabad    12999.0     380.0     9207.0    55116.0   3412.0
22  Other State     1663.0     144.0      428.0        0.0   1091.0
23      Palghar    38025.0     901.0    30297.0   155340.0   6827.0
24     Parbhani     5643.0     198.0     4030.0    44813.0   1415.0
25         Pune   300623.0    5931.0   237190.0  1181606.0  57502.0
26       Raigad    52786.0    1270.0    43639.0   158457.0   7877.0
27    Ratnagiri     8754.0     284.0     6428.0        0.0   2042.0
28       Sangli    39642.0    1231.0    30788.0        0.0   7623.0
29       Satara    38639.0    1060.0    29508.0   132802.0   8071.0
30   Sindhudurg     4105.0     100.0     2873.0        0.0   1132.0
31      Solapur    37364.0    1176.0    30014.0   268779.0   6174.0
32        Thane   192385.0    4973.0   156807.0   867967.0  30605.0
33       Wardha     4739.0      81.0     3035.0    36497.0   1623.0
34       Washim     4607.0      93.0     3725.0        0.0    789.0
35     Yavatmal     9154.0     231.0     6903.0    73719.0   2020.0

In [98]:
update_districts('UP')

KeyError: "['other'] not found in axis"